body
{
	/*background-image: url("../img/hexagon_pattern_recolor1.png");*/
}

#wrap
{
	width: 800px;
	margin:  0px auto 15px auto;
	font-family: Arial;
	font-size: 14px;
	color: #000000;
}

#header
{
	clear: both;
}

#content
{
	padding:10px;
	box-shadow: 0px 0px 5px 1px rgb(31, 31, 31);
	background-color: rgb(200, 200, 200);
	height: 1000px;
}

#mainpage
{
	
}

#footer
{
	margin:10px 0px 10px;
	font-size: 12px;
	color: rgb(178, 178, 178);
	text-align: center;
}

.center
{
	text-align:center;
	display:block;
}

.boxshadow
{
	box-shadow: 0px 0px 5px 20px #888888;
}